@model IEnumerable<Book_Store.Models.Order>

<div class="container mt-5">
    <h3>Đơn hàng của tôi</h3>

    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn</th>
                <th>Ngày</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>#@order.OrderID</td>
                    <td>@order.OrderDate.ToShortDateString()</td>
                    <td>@order.TotalAmount.ToString("N0") đ</td>
                    <td>@order.Status</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@order.OrderID">
                            Xem
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>